<html>
    <head>
        <title>About</title>
          <link rel="stylesheet" href="styles.css">
    </head>        
        <body>

            <div class="main-content">
            {{>header}}
            <p><b>ADMIN PANEL</b></p>  
            <hr>
            </div>
            
            
            {{>footer}}
            
        </body>
    
</html>