<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="styles.css">
    </head>
        <body>
            <div class="main-content">
                
                {{>header}}
            <p>{{helpText}}</p>

            </div>
             <P>This website allows you to register, 
                nature, market, connect and exploit talents and skills.</P>

            
            {{>footer}}

        </body>
    
</html>