<html>
    <head>
        <title>Products</title>
        <link rel="stylesheet" href="style.css">
    </head>
        <body>
            <div class="main-content">
                
                {{>header}}
            <p>{{helpText}}</p>

            </div>

            
            {{>footer}}

        </body>
    
</html>