<html>
    <head>
        <title>Registered successfully</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="styles.css">
    </head>
    {{>header}}     
        <body>            
            <div class="main-content">                 
            <hr/>  
           <p>
            <h3> {{registerSuccess}}</h3>    
            <h3>{{RegisterData}}</h3>    
           Thanks for registering your talent! We value your Talent...
           </p>        

            </div>
            {{>footer}}          
            

        </body>

</html>